[submodule "cloob"]
	path = cloob
	url = https://github.com/crowsonkb/cloob-training.git
[submodule "cloob-training"]
	path = cloob-training
	url = https://github.com/crowsonkb/cloob-training.git
[submodule "vmf-lib"]
	path = vmf-lib
	url = https://github.com/minyoungkim21/vmf-lib
